@import './reset.css';
@import './style.css';
.weather-form, .result, .city-compare, .error {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin: 0 auto;
}

.weather-form.hide {
  display: none;
}

.result {
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-compare {
  margin-top: 2rem;
}

.result>* {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.result>*:nth-child(odd) {
  background: #e3e3e3;
  padding: 1rem;
}

.result>*:nth-child(even) {
  background: #797979;
  padding: 1rem;
}

.description .grid-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}