@import './reset.css';
@import './style.css';
.weather-container {
  min-height: 100vh;
  text-shadow: 3px 4px 20px rgba(0, 0, 0, 1);
}

.weather-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin: 0 auto;
}

.weather-container input {
  border: none;
  border-radius: 0;
  padding: 1rem;
  margin-bottom: 2rem;
}

.weather-container input:focus, .weather-container input:hover {
  outline: none;
}

.weather-type-icon {
  zoom: 3;
}

.weather-description, .weather-speed, .weather-degree, .error, .compare-malmoe-with-city {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--font);
  font-weight: 100;
}

.weather-speed, .compare-malmoe-with-city {
  text-transform: inherit;
}

.weather-description, .weather-type-icon, .weather-speed, .weather-degree, .error, .compare-malmoe-with-city {
  display: flex;
  justify-content: center;
  align-items: center;
}