@keyframes bounce-even {
  0% {
    bottom: 5px;
  }
  50% {
    bottom: 0
  }
  100% {
    bottom: 5px
  }
}

@keyframes bounce-odd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px
  }
  100% {
    bottom: 0
  }
  ;
}

.dots {
  position: relative;
  display: inline-block;
}

.dots:nth-child(2) {
  padding-top: inherit;
  animation-name: bounce-odd;
  animation-duration: 5s;
}

.dots:nth-child(3) {
  padding-top: inherit;
  animation-name: bounce-even;
  animation-duration: 5s;
}

.dots:nth-child(4) {
  padding-top: inherit;
  animation-name: bounce-odd;
  animation-duration: 5s;
}

.loading {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result .hide,
.hide {
  opacity: 0;
  transition: opacity 0.75s ease-in;
}

.show {
  opacity: 1;
  transition: opacity 0.75s ease-in;
}

.warm-weather {
  color: #FF0000;
}

.cold-weather {
  color: #2cbbce;
}

.decent-weather {
  color: #ff6700;
}

.submit-btn {
  padding: 0.5rem;
}

input {
  padding: 0.5rem;
}
